<!DOCTYPE html>
<form method="post" action="/halamanAdmin/">
<head>
      <meta charset="utf-8">
      <title>Menu Admin</title>
      <link rel="stylesheet" href="{{url_for('static',filename='halamanAdmin.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <label class="logo">BANKITA</label>
         <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Data
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a name="information" href="/infoAccount">Information</a></li>
                  <li><a name="transaction" href="/infoTransaction">Transaction</a></li>
               </ul>
            </li>
            <li><a id="logout" href="/base.html">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</form>