<!DOCTYPE html>
<form method="post" action="/halamanCustomer/">
<head>
      <meta charset="utf-8">
      <title>Menu Costomer</title>
      <link rel="stylesheet" href="{{url_for('static',filename='halamanCustomer.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <label class="logo">BANKITA</label>
         <ul>
            <li><a class="active" href="/deposit">Deposit</a></li>
            <li><a id="information" href="#">Transaksi</a><li>
            <li><a id="information" href="/information">Informasi Transaksi</a></li>
            <li><a id="logout" href="/base.html">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</form>