<!DOCTYPE html>
<html>
    <head>
        <form method="GET" action="/infoTransaction">
            <title>Informasi</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='information.css')}}">
    </head>
    <body>
        <h2>INFORMATION ACCOUNT</h2>
        <table>
            <th>Account ID</th>
            <th>Date Time</th>
            <th>Transaction Type</th>
            <th>Amount</th>

        {% for i in info %}
         <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
         </tr>
        {% endfor %}
        </table>
    </body>
</html>
    